

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #fdd760;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(131, 86%, 27%);
  --clr-green-light: hsl(125, 100%, 29%);
  --clr-black: #222;
  --clr-main: #c8102e;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  --container-grid: 1060px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 62.5%;
  /* font-size: 0.875rem; */
}

body::-webkit-scrollbar {
  display: none;
}

*::selection {
  background: var(--clr-main);
  color: var(--clr-white);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.mt-16{
  margin-top: 16px;
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

/* contain */

.contain{
  width: 1060px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* 
=============
Navbar
===========
*/

.navbar{
  height: 80px;
  position: fixed;
  top: 0;
  background-color: var(--clr-main);
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  z-index: 9;
}

.navbar-phone{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  cursor: pointer;
}

.navbar-phone__icon{
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--clr-white);
  border-radius: 50%;
  color: var(--clr-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-phone:hover i{
  animation: phone linear .6s;
}

.navbar-phone__title{
  font-size: .9rem;
}

.navbar-phone__number{
  font-weight: 700;
  color: var(--clr-white);
}


.navbar-list{
  width: 100%;
  display: flex;
  color: var(--clr-white);
  align-items: stretch;
  justify-content: space-between;
  flex: 5;
}

.navbar-item{
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  height: 100%;
}

.navbar-item a:hover{
  font-size: 1.3rem;
  transition: all .5s ease 0s;
}

.navbar-item a{
  cursor: pointer;
  color: var(--clr-white);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar-item i{
  margin-right: 4px;
}

.navbar-item.active{
  font-size: 1.1rem;
  font-weight: 700;
  position: relative;
}

.navbar-item.active a:hover{
  font-size: 1.1rem;
  font-weight: 700;
}

.navbar-item.active::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -8px;
  height: 16px;
  border-radius: 16px;
  background-color: var(--clr-white);
}

.navbar-item img{
  width: 60px;
  filter: invert(1);
}

.navbar-cart{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  cursor: pointer;
  position: relative;
}

.navbar-cart__text i{
  position: relative;
  margin-right: 4px;
}

.navbar-cart__number-count{
  position: absolute;
  top: -50%;
  right: -50%;
  width: auto;
  padding: 0 4px;
  height: 16px;
  font-size: .7rem;
  background-color: var(--clr-white);
  color: var(--clr-main);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-main);
}

.navbar-cart:hover .navbar-cart__display{
  display: block;
}

.navbar-cart__display{
  position: absolute;
  width: 512px;
  height: 70vh;
  top: 80px;
  right: 40px;
  padding: 12px;
  background-color: #fff;
  color: #111;
  border-radius: 10px;
  display: none;
  box-shadow: 0 0 15px rgb(110, 110, 110);
  z-index: 99;
}

.navbar-cart__display::after{
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  height: 40px;
}

.navbar-cart__content{
  height: calc(100% - 60px);
}

.navbar-cart__list{
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  overflow-y: auto;
  height: 100%;
  cursor: default;
}

.navbar-cart__list::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.navbar-cart__list::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.navbar-cart__list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--clr-green-dark);
}

.navbar-cart__list-empty{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--clr-main);
}

.navbar-cart__list-empty i{
  margin-right: 4px;
}

.navbar-cart__item{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  cursor: default;
  border-bottom: 1px solid #6e6e6eb7;
  padding-bottom: 10px;
}

.navbar-cart__item-content{
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar-cart__item-top{
  text-transform: capitalize;
}

.navbar-cart__item-bottom{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-cart__item-selection{
  flex: 2;
}

.navbar-cart__item-size{
  font-size: .7rem;
}

.navbar-cart__item-crust{
  font-size: .7rem;
  text-transform: capitalize;
}

.navbar-cart__item-quantity{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.navbar-cart__item-quantity-minus,
.navbar-cart__item-quantity-plus{
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  filter: drop-shadow(0 0 4px #a0a0a0);

}

.navbar-cart__item-quantity > span{
  flex: 1;
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-cart__item-price{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all .5s ease;
}

.navbar-cart__item-del{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: var(--clr-main);
}

.navbar-cart__item-del i{
  cursor: pointer;
}

.navbar-cart__btn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  height: 50px;
  line-height: 50px;
  background-color: var(--clr-green-dark);
  padding: 12px 10px;
  color: var(--clr-white);
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.navbar-cart__btn-text{
  text-transform: uppercase;
}

.navbar-cart > i{
  margin-right: 10px;
}


/* 
==============
OVERLAY
==============
 */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.59);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container{
  width: 330px;
  padding: 10px;
  background-color: var(--clr-white);
  border-radius: var(--radius);
  position: relative;
}

.modal-close{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--clr-white);
  color: var(--clr-main);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.modal-img{
  width: 100%;
  height: inherit;
  border-radius: 10px;
}

.modal-btn{
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  border-radius: var(--radius);
  margin-top: 4px;
  font-size: .9rem;
  padding: 6px 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}



/* 
==============
HOME PAGE
==============
 */

.home{
  margin-top: 80px;
}


/* slider */
.slider{
  margin-top: 100px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;
}

.slide-item{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 1.2s linear;
}

.slide-item.activeSlide{
  opacity: 1;
  transform: translateX(0);

}

.slide-item.nextSlide{
  transform: translateX(100%);

}

.slide-item.lastSlide{
  transform: translateX(-100%);

}

.slide-btn{
  position: absolute;
  width: 200px;
  z-index: 3;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 12px;
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
}

.slide-btn>a{
  color: var(--clr-white);
}

.slide-btn:hover{
  background-color: var(--clr-green-light);
  cursor: pointer;
}

.slide-photo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.left-btn,
.right-btn{
 position: absolute;
 width: 80px;
 height: 100%;
 top: 50%;
 transform: translateY(-50%);
 color: var(--clr-main);
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 4rem;
 cursor: pointer;
 z-index: 2;
 text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

.left-btn{
  left: 20px;
}

.right-btn{
 right: 20px;
}

/* Method order */

.contain-fluid{
  width: 100%;
  display: flex;
  justify-content: center;
}

.method{
  /* min-width: 390px; */
  width: 500px;
  min-height: 210px;
  /* border: 1px solid rgb(101, 101, 101); */
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0 0 16px ;
  margin-bottom: 20px;
  background-color: var(--clr-white);
}

.method-top{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
  position: relative;
}

.method-top::after{
  content: '';
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(50%);
  background-color: var(--clr-green-dark);
}

.method-top__item{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: var(--clr-grey-1);
  font-weight: 500;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
} 

.method-top__item.active{
  color: var(--clr-main);
}

.method-top__item-img{
  width: 35px;
  margin-right: 4px;
}

.method-content{
  width: 100%;
  padding: 10px;
}

.method-label{
  width: unset;
  position: absolute;
  top: -10px;
  left: 8px;
  height: 16px;
  line-height: 16px;
  background-color: var(--clr-white);
}

.method-content__city,
.method-content__district,
.method-content__subdistrict{
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 16px;
  height: 40px;
}

.selection__add{
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 10px;
}

.selection__add:focus {
  outline: 3px solid var(--clr-green-dark); 
}

.selection__add option{
  height: 40px;
  zoom: 1.5
}

.method-content__address{
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
}

.method-content__address-number{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
}


.method-btn{
  width: 100%;
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  font-size: 16px;
  
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.method-btn-disable{
  width: 100%;
  background-color: #8f8f8f;
  border: none;
  color: var(--clr-white);
  font-size: 1.3rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: not-allowed;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 10px;
}


.method-btn a{
  color: var(--clr-white);
  padding: 12px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
========
PICKUP 
========
*/

.method-content__history{
  padding: 10px;
}

.method-content__history-heading{

}

.method-content__history-address{
  margin-bottom: 10px;
}

.method-content__history-name{

}

.method-content__history-full-address{

}

.method-content__history-btn-contain{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.method-content__history-btn-old,
.method-content__history-btn-new{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--clr-white);
  cursor: pointer;
  background-color: var(--clr-green-dark);
}

.method-content__history-btn-old a{
  color: var(--clr-white);
  padding: 12px 10px;
}

.method-content__history-btn-new{
  margin-left: 10px;
  padding: 12px 10px;
}





/*
=============== 
Menu
===============
*/

.menu {
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.brand{
  color: var(--clr-main);
  
}
.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-main);
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  width: var(--container-grid);
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-main);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
  /* flex: 1; */
}
.filter-btn:hover {
  color: var(--clr-main);
  border: 2px solid var(--clr-main);
}

.filter-btn.active{
  background: var(--clr-main);
  color: var(--clr-white);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  /* justify-items: center; */
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  cursor: pointer;
}
.photo {
  /* object-fit: cover; */
  height: 200px;
  width: 100%;
  border: 0.25rem solid var(--clr-main);
  border-radius: var(--radius);
  display: block;
  background-position: center;
  background-size: auto 100%;
  transition: all .5s ease 0s;
}

.photo:hover{
  background-size: auto 120%;
}

.item-info{
  display: flex;
  flex-direction: column;
  cursor: default;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.item-name{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  color: var(--clr-main);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 64px;
  cursor: text;
}

.item-bottom{
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item-btn{
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  padding: 8px 12px;
  border-radius: var(--radius);
  cursor: pointer;
  border: none;
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .btn-container {
    overflow: auto;
    justify-content: flex-start;
  }

  .filter-btn {
    width: 100px;
  }
}

/* 
=============
MODAL PRODUCT
=============
 */

 .modal-product{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.681);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
 }

 .modal-product__content{
  background-color: var(--clr-white);
  padding: 10px;
  border-radius: var(--radius);
  position: relative;
  width: 960px;
  height: 590px;
  animation: slideTop .4s ease;
  transition: all ease .4s;
 }

 @keyframes slideTop {
  from{
    transform: translateX(-100%);
    opacity: .6;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
 }

 .modal-product__close{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--clr-white);
  color: var(--clr-main);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
 }


.modal-product__item{
  display: flex;
  height: 100%;

}

.modal-product__photo{
  width: 320px;
}

.modal-product__photo-img{
  width: 100%;
  height: inherit;
  width: 580px;
  height: 320px;
  object-fit: cover;
  transform: rotate(-90deg) translateX(-22%) translateY(-43%);
}

.modal-product__info{
  width: 620px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
}

.modal-product__name{
  font-size: 2rem;
  position: absolute;
  top: 0;
  font-size: 2.4rem;
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--clr-white);
  border-bottom: 2px solid #e0e0e0;
}

.modal-product__info-content{
  margin-top: 80px;
  margin-bottom: 50px;
  width: 100%;
  overflow-y: scroll;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal-product__info-content::-webkit-scrollbar {
  display: none;
}

.modal-product__btn-price{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-product__text{
  margin-top: 10px;
}

.size-list__text{
  color: var(--clr-black);
  font-size: 1.1rem;
  font-weight: 700;
}

.size-list__contain{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.size-list__size{
  width: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.size-list__size-contain{
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--clr-green-dark);
  border-radius: 10px;
  opacity: 0.4;
  cursor: pointer;
}

.size-list__size-contain.active{
  opacity: 1;
}

.size-list__size-img{
  width: 50px;
  height: inherit;
  object-fit: contain;
}

.size-list__size-text{
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  color: var(--clr-green-dark);
}


.modal-product__crust-list{
  flex: 1;
}

.crust-list__text{
  color: var(--clr-black);
  font-size: 1.1rem;
  font-weight: 700;
}

.crust-list__contain{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.crust-list__crust-contain{
  display: flex;
  opacity: 0.4;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  margin: 4px 0;
}

.crust-list__crust-contain.active{
  opacity: 1;
  font-weight: 700;
}

.crust-list__crust-img{
  width: 60px;
  height: inherit;
}

.crust-list__crust-text{
  text-transform: capitalize;
  color: var(--clr-green-dark);
  margin-left: 10px;
}



.modal-product__btn{
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

/* 
=============
PAYMENT
=============
 */
.payment{
  width: 100%;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment__add{
  width: 512px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--clr-green-dark);
}

.payment__add-heading{
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--clr-green-dark);
  font-weight: 500;
}
.payment__add-name{
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: var(--clr-main);
  font-weight: 500;
}

.payment__add-detail{

}

.payment__add-btn{
  align-self: center;
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quotetime{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.quotetime__heading{
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.quotetime__content{
  width: 100%;
  display: flex;
}

.quotetime__content-wrap{
  width: 100%;
  display: flex;
  position: relative;
  height: 40px;
  margin: 0 8px 16px;
}

.quotetime__content-wrap .selection__add{
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 10px;
}

.quotetime__content-wrap .selection__add:focus {
  outline: 3px solid var(--clr-green-dark); 
}

.quotetime__content-wrap .selection__add option{
  height: 40px;
  zoom: 1.5
}

.payment__modal-container{
  width: unset;
  padding: 10px;
  border-radius: var(--radius);
  position: relative;
}

.payment__modal-close{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--clr-white);
  color: var(--clr-main);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.method-btn-modal{
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-bill{
  width: 512px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  
}

.payment-bill__contain-note{
  width: 100%;
  display: flex;
  position: relative;
  height: 40px;
  margin-top: 30px;
}


.payment-text{
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--clr-green-dark);
  font-weight: 700;

}

.payment__recive{
  width: 512px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--clr-green-dark);
}

.payment__recive-content{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.payment__voucher-btn{
  align-self: center;
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart__display{
  width: 512px;
  height: auto;
  margin-top: 40px;
  top: 80px;
  right: 40px;
  padding: 12px;
  background-color: #fff;
  color: #111;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(110, 110, 110);
}

.cart__content{
  height: auto;
}

.cart__list{
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: default;
}

.cart__list-empty{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--clr-main);
}

.cart__item{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  cursor: default;
  border-bottom: 1px solid #6e6e6eb7;
  padding-bottom: 10px;
}

.cart__item-content{
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart__item-top{
  text-transform: capitalize;
}

.cart__item-bottom{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cart__item-selection{
  flex: 2;
}

.cart__item-size{
  font-size: .7rem;
}

.cart__item-crust{
  font-size: .7rem;
  text-transform: capitalize;
}

.cart__item-quantity{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart__item-quantity-minus,
.cart__item-quantity-plus{
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  filter: drop-shadow(0 0 6px #a0a0a0);
}

.cart__item-quantity > span{
  flex: 1;
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__item-price{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}

.cart__item-del{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: var(--clr-main);
  width: 50px;
}

.cart__item i{

}

.cart__item-del i{
  cursor: pointer;
}

.cart__total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}

.cart__total-text{

}
.cart__total-number{

}

.payment__method{
  width: 512px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 30px;
  border-top: 2px solid var(--clr-green-dark);
}

.payment__method-content{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.payment__method-list{
  
}

.payment__method-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 60px;
  border: 1px solid var(--clr-green-dark);
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
}

.payment__method-item:last-child{
  margin-bottom: 0;
}

.payment__method-item.active{
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
}

.payment__method-item.active .payment__method-img-contain{
  background-color: var(--clr-white);
}

.payment__method-img-contain{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.payment__method-img{
  width: 100%;
  
}

.payment__method-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.payment__method-name{

}

.payment__method-price{
  font-size: .8rem;
  font-weight: 500;
}

.payment__method-provision{
  display: flex;
}

.payment__method-provision a{
  color: blue;
  text-decoration: underline;
}

#accept{
  margin-right: 20px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  margin-left: 4px;
  cursor: pointer;
}

input[type=checkbox]:checked
{
  accent-color: var(--clr-green-dark) !important;
}

.payment__method-btn{
  width: 100%;
  padding: 12px 10px;
  background-color: var(--clr-green-dark);
  text-transform: uppercase;
  color: var(--clr-white);
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  text-align: center;
  border: none;
}

.payment__method-btn-disable{
  width: 100%;
  padding: 12px 10px;
  text-transform: uppercase;
  color: var(--clr-white);
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #8f8f8f;
  cursor: not-allowed;
}

/* 
============
PAYING ONLINE 
============
*/

.paying-qr{
  margin: 100px auto 0;
  width: 900px;
  border: 1px solid black;
}

.paying-qr__contain{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.paying-qr__heading{
  font-size: 1.4rem;
}
.paying-qr__content{
  display: flex;
}
.paying-qr__code{

}
.paying-qr__confirm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 16px;
}
.paying-qr__input{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
}
.paying-qr__btn{
  margin-top: 16px;
  padding: 10px 12px;
  background-color: var(--clr-green-dark);
  border-radius: 12px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  cursor: pointer;
  width: 100%;
}

/* 
==================
RECEIPT
==================
 */

.receipt{
  margin: 100px auto 0;
  max-width: var(--container-grid);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.receipt__contain{
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--clr-green-dark);
  padding: 10px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.receipt__contain-heading{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-green-dark);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.receipt__contain-text{

}

.receipt__contain-link span{
  text-decoration: underline;
  color: var(--clr-main);
  cursor: pointer;
}

/* 
==============
TRACKING
============ */

.tracking{
  max-width: var(--container-grid);
  margin: 100px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90vh;
}

.tracking__contain{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tracking__heading{
  font-size: 2rem;
  color: var(--clr-green-dark);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 16px;
}

.tracking__contain-check{
  display: flex;
  width: 500px;

}

.tracking__contain-input{
  width: 75%;
  margin-right: 16px;
}

.tracking__contain-input input{
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
}

.tracking__contain-input{
  position: relative;

}

.tracking__contain-input-label{
  width: unset;
  position: absolute;
  top: -10px;
  left: 8px;
  height: 16px;
  line-height: 16px;
  background-color: var(--clr-white);
}

.tracking__contain-btn{
  padding: 10px 12px;
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.tracking__contain-display{

}

.tracking__state{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.tracking__state-heading{
  font-size: 1.8rem;
  color: var(--clr-green-dark);
  font-weight: 700;
  margin-bottom: 40px;
}

.tracking__list{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(103, 103, 103);
  margin: 0 auto 40px ;
}

.tracking__item{
  display: flex;
  font-size: 1.5rem;
  filter: grayscale(100);
  margin-bottom: 20px;
}

.tracking__item:last-child {
  margin-bottom: 0;
}

.tracking__item.active{
  filter: grayscale(0);
}





.tracking__item-icon{
  margin-right: 4px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.tracking__item-icon > i{
  font-size: 40px;
}

.tracking__item.active.curent > .tracking__item-icon > i{
  transition: all linear;
  animation: zoomSize linear 3s infinite;
}

@keyframes zoomSize {
  0%, 100%{
    transform: scale(.8);
  }
  50%{
    transform: scale(1.2);
  }
}


.tracking__item.active .tracking__item-text{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--clr-green-dark);
}

.tracking__item-text{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  flex: 1;
}

/* 
==============
LOGIN & SIGN UP
==============
*/

.login{
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
  margin-bottom: 60px;
}

.login-container{
  width: 960px;
  height: 480px;
  display: flex;
  /* border: 1px solid var(--clr-main); */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px rgb(103, 103, 103);
}

.login-login{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__heading{
  font-size: 1.6rem;
  color: var(--clr-main);
  font-weight: 700;
  margin: 10px 0;
}

.login__content{
  width: 100%;
  padding: 20px;
}

.login__content-input{
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 16px;
  height: 40px;
}

.login__content-hiden{
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login__content-input-2{
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  height: 40px;
  justify-content: space-between;
}

.login__content-input-wrap{
  position: relative;
  width: calc(50% - 8px);
}

.login__content-input-selected{
  width: 100%;
  font-size: 1.1rem;
  border-radius: 10px;
  padding-left: 10px;
  height: 40px;
}

.login__content-label{
  width: unset;
  position: absolute;
  top: -10px;
  left: 8px;
  height: 16px;
  line-height: 16px;
  background-color: var(--clr-white);
}

.login__content-btn{
  width: 100%;
  height: 40px;
  color: var(--clr-white);
  background-color: var(--clr-green-dark);
  padding: 8px 12px;
  text-transform: uppercase;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  border: none;
}

.login__bottom{
  display: flex;
}

.signup__link{
  margin-left: 6px;
  cursor: pointer;
  /* text-decoration: underline; */
  color: var(--clr-green-dark);
}


.login-signup{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-slide__right,
.login-slide__left{
  width: 480px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  /* display: none; */
  transition: all ease .8s;
}

.login-slide__right{
  transform: translateX(100%);
}

.login-slide__left{
  transform: translateX(0%);
}

.login-slide__right img,
.login-slide__left img{
  width: 100%;
  height: 100%;
}



.form-group.invalid .form-control {
  border: 2px solid;
  border-color: var(--clr-main);
}

.form-group.invalid .login__content-label {
  color: var(--clr-main);
  font-weight: 500;
}

.form-group.invalid .form-message {
  color: var(--clr-main);
}

.form-message{
  font-size: .8rem;
  color: var(--clr-main);
}

.login__content-passwordoption{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.login__content-passwordsave-checkbox{
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.login__content-passwordsave{
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.login__content-passwordoption-text{
  cursor: pointer;
}

.login__content-passwordsave .login__content-passwordoption-text::selection {
  color: #111;
  background: var(--clr-white);
}


.login__content-forgotpass{
  text-transform: capitalize;
  color: var(--clr-green-dark);
  cursor: pointer;
}



/* 
=============
Confirm Deleted Dish
=============
 */

 .confirm-container{
  background-color: var(--clr-white);
  padding: 10px;
  border-radius: var(--radius);
  position: relative;
  width: 360px;
  height: unset;
  animation: slideTop .4s ease;
  transition: all ease .4s;
 }

 .confirm-close{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--clr-white);
  color: var(--clr-main);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center
 }

 .confirm__heading{
  color: var(--clr-green-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
 }

 .confirm__content{
  color: var(--clr-black);
  margin: 10px;
 }

 .confirm__content-name{
  text-transform: uppercase;
  font-size: 1.6rem;
 }

 .confirm__content-info{
  display: flex;
  
 }

 .confirm__content-size,
 .confirm__content-crust
 {
  font-size: 1.2rem;
 }

 .confirm__content-crust{
  text-transform: capitalize;
  margin-left: 8px;
 }

 .confirm__content-quantity{
  font-size: .9rem;
 }

 .confirm__btn-contain{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

 .confirm-btn-no,
 .confirm-btn-yes{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 12px 10px;
  color: var(--clr-white);
  cursor: pointer;
 }

 .confirm-btn-no{
  border: 2px solid rgb(146, 146, 146);
  margin-right: 10px;
  color: var(--clr-green-dark);
  font-weight: 500;
 }
 .confirm-btn-no:hover{
  border: 2px solid var(--clr-main);
  color: var(--clr-main);
  transition: all .5s ease;
 }
 .confirm-btn-yes{
  background-color: var(--clr-green-dark);
 }



/* 
===============
FOOTER
===============
 */

 /* footer */

.footer{
  margin-top: 16px;
  padding: 16px;
  border-top: 4px solid var(--clr-main);
  background-color: #1a1a1a;
}

.footer__heading{
  font-size: .8rem;
  text-transform: uppercase;
  color: var(--clr-gold);
  opacity: 0.9;
}

.footer__list{
  padding-left: 0;
  list-style: none;
}

.footer__list-item-link{
  display: flex;
  text-decoration: none;
  font-size: .8rem;
  color: var(--clr-white);
  padding: 4px 0;
  align-items: center;
  text-transform: capitalize;
}

.footer__list-item-link:hover{
  color: var(--clr-main);
}

.footer__list-item-icon{
  font-size: 1.8rem;
  color: var(--clr-white);
  margin: -1px 8px 0 0;
}

.footer__download{
  display: flex;
}

.footer__download-qr{
  width: 40%;
  object-fit: contain;
}

.footer__download-apps{
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-left: 12px;
}

.footer__pay{
  margin-bottom: 30px;
}

.footer__pay-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}

.footer__pay-item{
  width: 30%;
  height: 30px;
  object-fit: contain;
}

.footer__bottom{
  border-top: 2px solid var(--clr-gold);
  padding-top: 16px;
  display: flex;
}

.footer__copyright{
  font-size: .8rem;
  text-align: left;
  flex: 1;
}

.footer__copyright-text{
  color: var(--clr-white);
}

.footer__copyright-text a{
  text-decoration: none;
  font-size: .8rem;
  color: var(--clr-white);
  float: right;
}

.footer__policy{
  font-size: .8rem;
}

.footer__policy-list{
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__policy-link{
  text-decoration: none;
  font-size: .8rem;
  padding: 0 16px;
  color: var(--clr-white);
}

.footer__policy-img{
  width: 150px;
  object-fit: contain;
  margin-top: 10px;
}

/* responsive */

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
  .section-center{
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  
  .section-center{
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}



/* Animation */

@keyframes phone{
  0%,20%, 40%, 100% {
    transform: rotate(0);
  }
  10%, 50%{
    transform: rotate(35deg);

  }
  30%, 70%{
    transform: rotate(-35deg);

  }
}


/* 
======= 
Toast message 
======== */

#toast {
  position: fixed;
  top: 90px;
  left: 32px;
  z-index: 98;
}

.toast {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-right: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(-100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: var(--clr-green-dark);
}

.toast--success .toast__icon {
  color: var(--clr-green-dark);
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: var(--clr-main);
}

.toast--error .toast__icon {
  color: var(--clr-main);
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: .9rem;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
  text-transform: capitalize;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}